body {
    background-color: #444047;
  }

  h1 {
    color: rgb(95, 154, 255);
    font-family: "Lucida Console", "Courier New", monospace;
  }

  h2 {
    color: rgb(95, 154, 255);
    font-family: "Lucida Console", "Courier New", monospace ;
  }

  p {
    color: rgb(95, 154, 255);
    font-size: 18px;
    font-family: Consolas,monaco,monospace;
  }

  a {
    font-size: 18px;
    color: #f28ab4
  }

  hr {
    color: #efbf04
  }
  ul {
    color:rgb(95, 154, 255);
    font-family: Consolas,monaco,monospace;
    font-size: 18px;
  }

  ol {
    color:rgb(95, 154, 255);
    font-size: 18px;
  }

  td {
    color:rgb(95, 154, 255);
  }

  th {
    font-size: 20px;
    color:rgb(95, 154, 255);
    font-family: Consolas,monaco,monospace;
  }
